<div class="form-row mb-3">
  <label class="form-label" for="name">Name :</label>
  <input class="form-control" type="text" name="name" id="name" placeholder="Enter name" value="{{dashboard.name}}"
    required>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="office">Office :</label>
  <input class="form-control" type="text" name="office" id="office" placeholder="Enter office"
    value="{{dashboard.office}}" required>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="price">Price :</label>
  <input class="form-control" type="text" name="price" id="price" placeholder="Enter price" value="{{dashboard.price}}"
    required>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="quantity">Quantity :</label>
  <input class="form-control" type="text" name="quantity" id="quantity" placeholder="Enter quantity"
    value="{{dashboard.quantity}}" required>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="cost">Cost :</label>
  <input class="form-control" type="text" name="cost" id="cost" placeholder="Enter cost" value="{{dashboard.cost}}"
    required>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="date">Date :</label>
  <input class="form-control" type="date" name="date" id="date" placeholder="Enter date" value="{{dashboard.date}}"
    required>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="owner">Owner :</label>
  <input class="form-control" type="text" name="owner" id="owner" placeholder="Enter owner" value="{{dashboard.owner}}"
    required>
</div>
<div class="text-center">
  <button type="submit" class="btn btn-primary">Submit</button>
</div>